extends layout

block title
    title Página de Inicio | MedicalCare+

block content
    head 
        link(rel="stylesheet" href="/static/css/index.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    .main
        .header
            h1 Bienvenido a MedicalCare+
        .intro-card
            p
                | Bienvenido a MedicalCare+, la plataforma definitiva para la gestión de registros médicos. Diseñada para ofrecer una experiencia de usuario eficiente y segura.
            p
                | Ya seas un profesional de la salud, un paciente o un administrador, MedicalCare+ ofrece herramientas poderosas para manejar información médica de forma segura y efectiva.
            p
                | ¡Explora las funcionalidades y empieza a disfrutar de los beneficios que MedicalCare+ tiene para ti!
        .features-card
            h2 Características Principales
            ul
                li Gestión de expedientes médicos.
                li Acceso seguro y encriptado.
                li Historial médico detallado.
                li Herramientas de administración robustas.
                li Compatible con múltiples dispositivos.
        .footer
            p ¡Gracias por ser parte de la comunidad MedicalCare+! Nos enorgullece contribuir a un sistema de salud más eficiente y seguro.
